<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RtvSloConfig" type="RtvSlo.Core.Configuration.RtvSloConfigSection, RtvSlo.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
  </configSections>
  <RtvSloConfig>
    <Repository url="http://192.168.1.30:8080/openrdf-sesame" name="rtvslo" domainName="jakalogar.si" />
    <RtvSlo url ="http://www.rtvslo.si" archive="http://www.rtvslo.si/arhiv" comments="http://www.rtvslo.si/index.php" name="RTV Slovenija"/>
    <ArchiveProperties 
        fromDate="2013-01-01"
        toDate="2013-01-05"
        searchType="or"
        
        sectionSloveniaCode="1"           sectionSlovenia="true"
        sectionEUCode ="16"               sectionEU="true"
        sectionEconomyCode="4"            sectionEconomy="false"
        sectionSportCode="3"              sectionSport="true"
        sectionHealthCode="129"           sectionHealth="false"
        sectionScienceCode="9"            sectionScience="true"
        sectionEntertainmentCode="6"      sectionEntertainment="true"
        sectionWorldCode="2"              sectionWorld="false"
        sectionEuropeanElectionsCode="43" sectionEuropeanElections="false"
        sectionCultureCode="5"            sectionCulture="true"
        sectionCrimeNewsCode="8"          sectionCrimeNews="false"
        sectionEnvironmentCode="12"       sectionEnvironment="false"
        sectionAdventureCode="28"         sectionAdventure="false"
        sectionWeekReviewCode="24"        sectionWeekReview="false"
      />
    <CultureInfo value="sl-SI" />
    <Step1Settings inactiveTimeoutMinutes="60" />
    <Step2Settings inactiveTimeoutMinutes="60" />
    <Step3Settings inactiveTimeoutMinutes="60" updateOlderThanDays="14" />
    <MainThreadSleep s="20" />
    <RequestSleep ms="500" />
  </RtvSloConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>


  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\\RtvSloLog_" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="dd.MM.yyyy'.log'" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
  </log4net>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>